body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Faz a altura ocupar toda a janela */
}

.container {
  max-width: 500px;
  width: 100%; /* Para dispositivos menores */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

